# Bỏ qua tài nguyên Tiktok
3_Storage_Assets/1_Tiktok_Lyrics/inputs_music/*
3_Storage_Assets/1_Tiktok_Lyrics/inputs_image/*
3_Storage_Assets/1_Tiktok_Lyrics/output_ready/*

# Bỏ qua tài nguyên Threads
3_Storage_Assets/2_Threads_Topic/inputs_text/*
3_Storage_Assets/2_Threads_Topic/inputs_image/*
3_Storage_Assets/2_Threads_Topic/output_ready/*

# Bỏ qua thư mục xử lý tạm và video xuất ra chung
3_Storage_Assets/temp_processing/*
3_Storage_Assets/output_ready/*

# Chỉ giữ lại cấu trúc thư mục rỗng (Tùy chọn)
!.gitkeep